@media (max-width: 1200px) {
    .menu__item:not(:last-child) {
        padding-right: 16px;
    }

    .subheader__number {
        font-size: 18px;
    }

    .promo__header {
        font-size: 54px;
    }

    .promo__subheader {
        font-size: 33px;
    }

    .mobile__item {
        width: 280px;
        height: 255px;
    }

    .choice__car {
        width: 735px;
        height: 460px;
    }

    .terms {
        padding: 69px 10px 84px 20px;
    }

    .footer__navig {
        width: auto;
    }

    .navig__sub-navig {
        flex-wrap: wrap;
        column-gap: 15px;
        justify-content: space-evenly;
    }
}

@media (min-width: 991px) {

    .subheader__button {
        @include btn_hover;
    }

    .promo__button {
        @include btn_hover;
    }

    .menu__link {
        @include link_hover;
    }

    .subheader__number {
        @include link_hover;
    }

    .main-navig__link {
        @include link_hover;
    }

    .sub-navig__link {
        @include link_hover;
    }

    .lang__link {
        @include link_hover;
    }

    .facebook > a:hover {
        background-color: #4867aa;
    }

    .twitter > a:hover {
        background-color: #1d9bf0;
    }

    .in > a:hover {
        background-color: #0a66c2;
    }

    .inatagram > a:hover {
        background-color: #de0162;
    }

    .city__link:hover {
        color: #fff;
    }
}

@media (max-width: 991px) {

    .xs-visible {
        display: none;
    }
    .menu {
        background-color: #000000cb;
        position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100vh;
		padding: 20px 15px;
        transition: 0.6s all;
    }

    .menu--active {
        left: 0;
    }

    .burger {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 15px;
        width: 34px;
        height: 24px;

        span {
            display: block;
            height: 3px;
            background-color: #fff;
            margin-bottom: 5px;
            transition: 0.5s all;
        }
    }

    .burger--active {

        span:nth-child(1) {
            transform: translateY(8px) rotate(-45deg)
        }

        span:nth-child(3) {
            transform: translateY(0px) rotate(45deg)
        }

        span:nth-child(2) {
            display: none;
        }
    }

    .menu__item:not(:last-child) {
        padding-right: 0px;
        border-right: 0px dotted #000000;
    }

    .menu__item {
        display: block;
        width: 100%;
    }

    .menu__link {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 25px;
        line-height: 40px;
    }

    .promo__header {
        font-size: 45px;
    }

    .promo__subheader {
        font-size: 30px;
        line-height: 40px;
    }

    .promo__text {
        font-size: 18px;
        line-height: 25px;
    }

    .benefit {
        flex-direction: column;
        row-gap: 10px;
    }

    .benefit__img {
        margin-right: 0;
    }

    .choice {
        min-height: 682px;
        padding: 37px 0px 76px 0px;
    }

    .choice__car {
        width: 590px;
        height: 375px;
        margin: 22px auto 0px auto;
    }

    .terms__list {
        li {
            font-size: 15px;
        }
    }

    .navig__main-navig {
        padding: 0;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        &>div {
            width: 50%;
        }
    }

    .social__list {
        margin: 0 auto;
    }

    .app__list {
        padding: 0;
        margin: 5px 0px 0px 0px;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .xs-hidden {
        display: none;
    }

    .subheader__number {
        display: block;
        margin-top: 10px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }

    .subheader__button {
        display: block;
        width: 200px;
        height: 40px;
        margin: 0 auto;
    }

    .menu {
        width: 80%;
    }
}

@media (max-width: 575px) {
    .header {
        height: 32px;
    }
    
    
    .navigation {
        height: 32px;
    }
    .burger {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 26px;
        height: 10px;

        span {
            display: block;
            height: 2px;
            background-color: #fff;
            margin-bottom: 2px;
        }
    }

    .burger--active span:nth-child(1) {
        transform: translateY(4px) rotate(-45deg);
    }

    .menu {
        &__link {
            font-size: 17px;
        }
    }

    .subheader {
        top: 32px;
        padding: 7px 0px 7px 0px;

        &__logo {
            margin-left: 4px;
            margin-top: 10px;
            display: inline-block;
        }
        &__logo-text {
            display: none;
        }
    
        &__number {
            font-size: 12px;
            line-height: 21px;
            margin-top: 0px;
            margin-left: 6px;
        }
    
        &__button {
            font-size: 10px;
            width: 112px;
            height: 26px;
            margin-left: 16px;
        }
    }
    

    .promo {
        padding: 103px 0px 32px 0px;
        min-height: 400px;

        &__header {
            font-size: 30px;
            margin-bottom: 21px;
        }
    
        &__subheader {
            font-size: 20px;
            line-height: 25px;
        }
    
        &__text {
            display: none;
        }

        &__button {
            margin: 70px auto 0px auto;
            width: 213px;
            height: 50px;
        }
    }
    

    .benefits {
        padding: 23px 0px 20px 0px;

        &__title {
            font-size: 16px;
            margin-top: 14px;
        }
    
    }
    
    .benefit {
        row-gap: 19px;
        margin-bottom: 18px;

        &__img {
            width: 100px;
            height: 100px;
        }
    
        // &__title {
        //     letter-spacing: 1px;
        // }

        &__description {
            width: 279px;
        }

        &__text {
            line-height: 22px;
        }
    }

    .title {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .mobile {

        .row {
            margin-top: 23px;
        }

        padding: 26px 0px 19px 0px;

        &__title {
            margin: 13px 0px 0px 0px;
        }
        &__item {
            width: 290px;
            height: 254px;
            margin: 0px auto 29px auto;
        }
    
        &__suptitle {
            font-size: 14px;
        }
    }
    

    .opportunity__title {
        font-size: 18px;
    }

    .choice {
        min-height: 389px;
        padding: 25px 0px 31px 0px;
        background-image: none;

        &__title {
            display: none;
        }

        &__suptitle {
            display: none;
        }

        &__car {
            width: 280px;
            height: 178px;
            margin: 34px auto 32px auto;
        }
    
        &__text {
            color: #fff;
        }
    }
    

    .terms {
        padding: 25px 10px 5px 20px;

        .row {
            margin-top: 27px;
        }

        &__title {
            margin-top: 15px;
        }

        &__subtitle-list {
            font-size: 16px;
        }

        &__list {
            margin: 4px 0px 0px 0px;
            padding: 0px 0px 0px 18px;
        }
    
        &__list li {
            font-size: 14px;
            line-height: 19px;
        }
    
        p {
            font-size: 14px;
            line-height: 16px;
            margin: 11px 0px 0px -13px;
        }

        &__item {
            margin-bottom: 29px;
        }
    }

    .city {
        padding: 24px 0px 24px 0px;
        min-height: 320px;

        &__title {
            margin: 13px 0px 0px 0px;
        }
        &__suptitle {
            font-size: 14px;
            line-height: 31px;
        }

        &__link {
            margin-top: 200px;
        }
    }

    .line {
        width: 255px;
        height: 6px;
    }

    .footer__container > div {
        width: 100%;
    }

    .footer {
        padding: 24px 18px 39px 18px;

        &__block {
            order: 1;
        }

        &__social {
            order: 2;
            margin-top: 12px;
        }
        &__app {
            order: 3;
        }
    }

    .app__list {
        margin: 12px 0px 0px 0px;
    }

    .footer__container {
        padding-top: 20px;
    }

    .appstore, .winstore, .googleplay {
        width: 82px;
        height: 24px;
    }
    
    .main-navig__item {
        font-size: 14px;
    }
}
